[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
selenium = "*"
celery = "*"
redis = "*"
ipdb = "*"
pycallgraph = "*"
bs4 = "*"
pyyaml = "*"
sqlalchemy = "*"
apscheduler = "*"
pymysql = "*"
flower = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
log-config = "*"
mysqlclient = "*"

[requires]
python_version = "3.6"
