{% extends "base.html" %}
{% block globalVariable %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">任务状态分布</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <canvas id="taskStatus" style="height:250px"></canvas>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-3 admin">
        <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Agent 状态分布</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <canvas id="agentStatus" style="height:250px"></canvas>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-6">
          <div class="box box-primary" id="runningTask">
            <div class="box-header">
              <h3 class="box-title">运行中的任务</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <thead><tr></tr></thead>
                <tbody></tbody>
                <tfoot></tfoot>
              </table>
            </div>
            <!-- /.box-body -->
         </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- ChartJS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<!--<script src="/static/AdminLTE-2.4.10/bower_components/chart.js/Chart.js"></script>-->
{% endblock %}

{% block depsJS %}
'console/dashboard'
{% endblock %}