{% extends "base.html" %}
{% block globalVariable %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-6">
        <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">任务管理</h3>
            </div>
            <div class="box-buttons" id="dataTableButtons">
                <button type="button" class="btn btn-primary new" data-toggle="modal" data-target="#modal-new">新增</button>
                <button type="button" class="btn single-row delete">删除</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="dataTable" class="table table-bordered table-striped">
                <thead><tr></tr></thead>
                <tbody></tbody>
                <tfoot></tfoot>
              </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.col -->
     <div class="col-xs-6 none" id="detail">
        <div class="box box-primary" id="info">
            <div class="box-header with-border">
                <h3 class="box-title">基本信息</h3>
            </div>
            <div class="box-buttons">
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label>创建者</label>
                        <p class="creator__fullname"></p>
                    </div>
                    <div class="form-group">
                        <label>任务类型</label>
                        <p class="category__name"></p>
                    </div>
                    <div class="form-group">
                        <label>调度类型</label>
                        <p class="scheduler__mode" data-display="displayScheduler"></p>
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <p class="status"></p>
                    </div>
                    <div class="form-group">
                        <label>任务名称</label>
                        <input type="text" class="form-control" name="name" placeholder="请输入任务名称">
                    </div>
                    <div class="form-group">
                        <label>执行间隔</label>
                        <p class="scheduler__interval" data-display="displayInterval"></p>
                    </div>
                    <div class="form-group">
                        <label>执行时间</label>
                        <p class="scheduler__start_date"></p>
                    </div>
                    <div class="form-group">
                        <label>终止时间</label>
                        <p class="scheduler__end_date"></p>
                    </div>
                    <div class="form-group">
                        <label>第一次启动时间</label>
                        <p class="start_time"></p>
                    </div>
                    <div class="form-group">
                        <label>第一次启动时间</label>
                        <p class="start_time"></p>
                    </div>
                    <div class="form-group">
                        <label>实际结束时间</label>
                        <p class="end_time"></p>
                    </div>
                    <div class="form-group">
                        <label>成功次数</label>
                        <p class="succeed_counts"></p>
                    </div>
                    <div class="form-group">
                        <label>失败次数</label>
                        <p class="failed_counts"></p>
                    </div>
                    <div class="form-group">
                        <label>任务需求数</label>
                        <p class="limit_counts"></p>
                    </div>
                    <div class="form-group">
                        <label>账号数量</label>
                        <p class="accounts_num"></p>
                    </div>
                    <div class="form-group">
                        <label>结果</label>
                        <p class="result"></p>
                    </div>
                    <div class="form-group">
                        <label>配置</label>
                        <p class="start_time"></p>
                    </div>
                </div>
            </form>
        </div>
         <div class="box">
            <div class="box-header">
              <h3 class="box-title">任务账户</h3>
            </div>
            <div class="box-buttons" id="accountTableButtons">
                <button type="button" class="btn btn-primary export">导出</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="accountTable" class="table table-bordered table-striped">
                <thead><tr></tr></thead>
                <tbody></tbody>
                <tfoot></tfoot>
              </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
<div class="modal modal-info fade" id="modal-new">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加任务</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>任务类型</label>
          <select class="form-control" name="category"></select>
        </div>
         <div class="form-group">
          <label>调度类型</label>
          <select class="form-control" name="scheduler"></select>
        </div>
        <div class="form-group">
            <label>任务名称</label>
            <input type="text" class="form-control" name="name" placeholder="请输入任务名称">
        </div>
        <div class="form-group">
            <label>任务需求数</label>
            <input type="tel" class="form-control" name="limit_counts" placeholder="请输入任务需求数" value="1" />
        </div>
        <div class="form-group">
            <label>执行间隔</label>
            <div>
            <input type="tel" class="form-control w50" name="interval" placeholder="请输入执行间隔" value="" />
            <select class="form-control w30" name="intervalUnit">
                <option value="0">天</option>
                <option value="1">小时</option>
            </select>
            </div>
        </div>
        <div class="form-group">
            <label>启动时间</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right pick-date" name="schedulerBeginDate">
            </div>
            <!-- /.input group -->
            <div class="input-group">
              <input type="text" class="form-control timepicker" name="schedulerBeginTime">

              <div class="input-group-addon">
                <i class="fa fa-clock-o"></i>
              </div>
            </div>
            <!-- /.input group -->
        </div>
        <div class="form-group">
            <label>最晚结束时间</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right pick-date" name="schedulerEndDate">
            </div>
            <!-- /.input group -->
            <div class="input-group">
              <input type="text" class="form-control timepicker" name="schedulerEndTime">

              <div class="input-group-addon">
                <i class="fa fa-clock-o"></i>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-outline ok">确定</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}

{% block js %}
{% endblock %}

{% block depsJS %}
'task/index'
{% endblock %}

